
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family:'Roboto',sans-serif ;
}
.head{
    background-image: url("/IMAGES/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}
.nav {
    display: flex;
     justify-content: space-between; 
}
.nav p{ 
    padding: 1em 3em;
}
.create{
    padding:10em 10em;
} 
.create p{
    padding: 10px 0px;
    color: white;
}
.create h1{
 color: white;
 font-size: 3em;
}
.pic img{
    width:32%;
    border-radius: 50%;
    margin-left: 32%;
    /* padding-top: 5%; */
}
.data {
   font-size: 1em;
   padding-top: 1em;
   text-align: center;
}
.pixel{
    margin-left: 50px;
}
.data p{
    width:80%;
    margin:0% 1%  0% 10%;
} 
.data h5{
    padding-bottom:10px ;
    margin:0% 20% ;
} 
.cards{
    display: flex;
    margin: 0px 4.5em;
    gap: 5%;
    position: absolute;
    top:90%;
}
.card{
    width:22%;
    background-color:#FAFAFA;
    padding:  2% 0% 6% 0%;   
}
.smart{
    margin-top: 15%;
    position: relative;
} 
.smart-image img{  
    width:100%;
}
.part1{
    width:85%;
    background-color: #F0F0F0;
    padding: 5%;
}
.part1{
    margin: 5em 0em 3em 21%;
}
.part2{
    display: flex;
    width:96%;
    margin-left: 21%;
}
.part2 h4{
   margin-top: 30%;
   /* padding: 3% 5%; */
}
.sol,.clean{
    background-color:#F0F0F0 ;
    width: 45%;
    padding: 0px 0px 2em 1.5em;
}
.clean{
    margin-left: 3%;
}
.part2 p,.part1 p{
   width:88%;
}
.part2 p{
    font-style: italic;
    padding: 5% 0px;
}
.hands{
    width:45%;
    position: absolute;
    top: 3em;
    right: 10em;
}
.digitalexperiences{
    display: flex;
}
.unique{
    width: 100%;
}
.unique img{
    width: 100%;
    height: 100%;
}
.uniquedata{
    width: 100%;
    color: #5A5A5A;
    padding: 2em 2em 2em 1em;
}
.imp{
    color: #8B2D42;
    padding:10px 15px 10px 2px ;
}
.para{
   font-size: 1.3em;
   width:80%;
   color: #D3D3D3;
   padding-bottom: 15px;
}
.lorem{
    font-style: italic;
}
.more{
    color: #8B2D42;
    padding:15px 0px 15px 1px ;
}

.ideas{
  text-align: center;
  margin-top: 4em;
}
.ideas p{
    padding: 8px;
    color:#B28C9A ;
}
.row1 img,.row2 img{
    width: 100%;
}
.row1,.row2{
    display: flex;
    gap:2%;
}
.row1{
    margin: 4em 4em 0 4em ;
}
.row2{
    margin: 2em 4em 0em 4em ;
}
.features {
    margin:12% 0% 5% 4.5%;
    font-size: 1.2em;
    width:50%;
}
.features ol li{
    font-style: italic;
    padding: 5px 0px;
    margin-left: 12px;
    /* font-size: 15px; */
}
.features p{
    color:#B28C9A ;
    padding:10px 0px;
}
.features h3{
    padding:10px 0px;
    font-size: 1em;
}
.product img{
    width: 100%;
}
.product{
    width: 50%;
    margin-top: 5em;
}
.values{
    display: flex;
    margin-bottom: 4em;
}
.design-image{
    display: flex;
    background-color:#C2C3BD;
    height: 78vh;

}
.best{
    margin: 4em 3em 0em 1em   ;
    display: flex;
    width:60%;
    font-style: italic;
    padding-left: 3.5em;
}
.responsibility{
    margin-left:5em;
} 
.awesome{
    width: 60%;
    padding-top: 2%;
}
.quality h4,.responsibility h4{
  padding-bottom: 1em;
}
.design p{
    color:#AC6878 ;
    padding:0px 0px  2% 2.5%;
    margin: 2em 0px 6px 3em;
}
.design h3{
    width:20%;
    padding:0px 0px  8px 10px;
    margin: 0em 0px 6px 3.2em;
}
.tried img{
    width:100%;
    height: 100%;
}
.tried{
    width: 50%;
}
.proimage img{
    width: 100%;
}
.products{
    position: relative;
}
.provide {
    position: absolute;
    width: 30%;
    border: 1px solid white;
    top: 40%;
    left: 35%;
    padding: 3%;
}
.provide p{
    color: #782634;
    text-align: center;
}
.provide h1{
    color:white;
    padding: 20px 0px;
    font-size: 1.8em;
    text-align: center;
}
.map{
    background-color:  #212121;
    display: flex;
}
.contact{
    color:white;
    width: 60%;
    margin:auto;
    margin-left:10%;
}
.contact h4,.contact p{
    padding:10px 0px;
}
.contact p{
    font-size: small;
    color: #989797;
}
.contact h6{
    color: rgb(94, 37, 37);
}
.mapsec{
   margin: 4% ;
}
footer{
    width: 100%;
    background-color:#313131;
    display: flex;
    color: #999999;
    justify-content: space-around;
    padding: 4em 0em;
}
.col h4{
   padding: 1em;
}




 /* @media (min-width:1400px){
    .design-image{
        height: 90vh;
    }
    . p{
        width:80%;
    }
    .{
        margin-top: 15em;
    }
    .design{
        margin-top: 2em;
    }
    .uniquedata p{
        width: 100%;
        padding:2%;
        font-size: 1.5em;
    }
    .uniquedata h2{
        width:50%;
        padding-left: 6px;
    }
    .part2{
        margin-left: 16.5%;
    }
    .sol,.clean{
        width: 50%;
        padding: 5%;
    }
}  */