
/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
*{
    padding: 0px;
    margin: 0px;
    src: url('../fonts/Roboto-Bold.ttf');
    font-family: 'Roboto', sans-serif;
}
.head{
    background-image:linear-gradient(#0000004c,#0000008c) ,url("/IMAGES/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    position: relative;
}
.nav {
    display: flex;
     justify-content: space-between; 
}
.nav p{ 
    padding: 2em 4em;
    color: white;
    font-size: 1.7em;
}
.create{
    padding:10em 10em;
} 
.create p{
    padding: 3% 0% 2% 4%;
    color: rgb(237, 236, 233);
    font-size: 1.4em;
}
.create h1{
 color:  rgb(237, 237, 237);
 padding: 0% 0% 0.5% 3.5%;
 font-size: 4.5em;
}
.pic{
    width: 30%;
    margin: auto;
}
.pic img{
    width:100%;
    border-radius: 50%;
}
.data {
   font-size: 1em;
   padding-top: 1em;
   text-align: center;
}
.pixel{
    margin-left: 50px;
}
.data p{
    width:78%;
    font-style: italic;
    margin:0% 1%  0% 10%;
    color: grey;
    line-height: 1.5em;
} 
.data h5{
    padding-bottom:1em ;
    margin:0% 10% ;
    font-size: 1.3em;
    font-weight: bolder;
} 
.cards{
    display: flex;
    margin: 0px 5em;
    gap: 5%;
    position: absolute;
    top:110vh;
}
.card{
    border: 1px solid rgb(224, 223, 223);
    width:23%;
    background-color:#FAFAFA;
    padding:  2% 0% 6% 0%;
    text-align: center;   
}
.smart{
    margin-top: 22%;
    position: relative;
} 
.smart-image img{  
    width:100%;
    height:120vh;
}
.part1{
    width:85%;
    background-color: #F0F0F0;
    padding: 5%;
    margin: 5em 0em 2em 21%;
}
.part2{
    display: flex;
    width:96%;
    margin-left: 21%;
}
.part2 h4{
    font-size: 1.2em;
    margin: 45% 0% 3% 0%;
}
.sol,.clean{
    background-color:#F0F0F0 ;
    width: 45%;
    padding: 0px 0px 2em 1.5em;
}
.clean{
    margin-left: 3%;
}
.part1 h5{
    color:palevioletred;
    font-size: 1.2em;
    padding:0.8em 0  1em 0;
}
.part1 h4{
    font-size: 1.5em;
    padding-bottom: 2em;
}
.part1 p{
    width:88%;
    font-size: 1.2em;
    padding-bottom: 2em;
    color: #5A5A5A;
    line-height: 1.5em;
 }
.part2 p{
    font-style: italic;
    width:88%;
    font-size: 1em;
    line-height: 1.5em;
    color: #5A5A5A;
}
.hands{
    width:45%;
    position: absolute;
    top: 0.5em;
    right: 10em;
}
.digitalexperiences{
    display: flex;
}
.unique{
    width: 100%;
}
.unique img{
    width: 100%;
    height: 100%;
}
.uniquedata{
    width: 100%;
    color: #5A5A5A;
    padding: 2em 2em 2em 1em;
    background-color: #1E1E1E;
}
.imp{
    color: #8B2D42;
    font-size: x-large;
    padding:10px 15px 10px 0px ;
}
.para{
   font-size: 1.3em;
   width:80%;
   padding: 0.5em 0em 1.3em 0em;
   color:#FEFEFE;
}
.lorem{
    font-style: italic;
    color:grey;
    line-height: 1.7em;
}
.more{
    color: #8B2D42;
    padding:2em 0px 1em 1px ;
}

.ideas{
  text-align: center;
  margin-top: 4em;
}
.ideas p{
    padding: 1em;
    color:palevioletred ;
    font-size: x-large;
    font-weight: 600;
}
.row1 img,.row2 img{
    width: 100%;
}
.row1,.row2{
    display: flex;
    gap:2%;
}
.row1{
    margin: 4em 4em 0 4em ;
}
.row2{
    margin: 2em 4em 0em 4em ;
}
.features {
    margin:12% 0% 5% 4.5%;
    font-size: 1.2em;
    width:50%;
}
.features ol li{
    font-style: italic;
    padding: 5px 0px;
    margin-left: 1em;
    color:rgb(167, 167, 167);
    /* font-size: 15px; */
}
.features p{
    color:palevioletred ;
    padding:10px 0px;
    font-weight: 600;
}
.features h3{
    padding:10px 0px;
    font-size: larger;
}
.product img{
    width: 100%;
}
.product{
    width: 50%;
    margin-top: 5em;
}
.values{
    display: flex;
    margin-bottom: 4em;
}
.design-image{
    display: flex;
    background-color:#C2C3BD;
    height: 100%;

}
.best,.best1{
    margin: 3em 1em 0em 1em   ;
    display: flex;
    width:80%;
    padding-left: 3em;
}
.best1,.best{
    margin-top: 11%;
}
.responsibility{
    margin-left:5em;
} 
.awesome{
    width: 60%;
    padding-top: 2%;
}
.quality h4,.responsibility h4{
  padding-bottom: 1em;
  font-size: larger;
}
.quality p, .responsibility p{
    color:#5A5A5A;
    line-height: 1.8em;
    font-style: italic;
}
.design p{
    color:#AC6878 ;
    font-weight: 600;
    padding:0px 0px  2% 1.8%;
    margin: 0.5em 0px 6px 2.5em;
    font-size:1.4em;
}
.design h3{
    font-size: xx-large;
    padding:0px 0px  8px 1em;
    margin: 0em 0px 6px 1em;
    width: 40%;
}
.tried img{
    width:100%;
    height: 100%;
}
.tried{
    width: 50%;
}
.proimage img{
    width: 100%;
    filter:brightness(60%);
}
.products{
    position: relative;
}
.provide {
    position: absolute;
    width: 60%;
    border: 1px solid white;
    top: 20%;
    left: 18%;
    padding: 5%;
}
.provide p{
    color: crimson;
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
}
.provide h1{
    color:white;
    padding: 20px 0px;
    font-size: 3.5em;
    text-align: center;
}
.map{
    background-color:  #212121;
    display: flex;
}
.contact{
    color:white;
    width: 60%;
    margin:auto;
    margin-left:10%;
}
.contact h3{
  font-size:1.5em;
  padding-bottom: 0.5em;
}
.contact p{
    color: white;
    font-size: medium;
    padding:1em 0px;
}
.contact h4{
    color:burlywood;
    padding-top: 0.5em;
}
.mapsec{
   margin: 4% ;
}
footer{
    width: 100%;
    background-color:#313131;
    display: flex;
    color: #d5d5d5;
    justify-content: space-around;
    padding: 4em 0em;
    font-size: larger;
}
.col h4{
   padding: 1em;
   font-size: larger;
}




 /* @media (min-width:1400px){
    .design-image{
        height: 90vh;
    }
    . p{
        width:80%;
    }
    .{
        margin-top: 15em;
    }
    .design{
        margin-top: 2em;
    }
    .uniquedata p{
        width: 100%;
        padding:2%;
        font-size: 1.5em;
    }
    .uniquedata h2{
        width:50%;
        padding-left: 6px;
    }
    .part2{
        margin-left: 16.5%;
    }
    .sol,.clean{
        width: 50%;
        padding: 5%;
    }
}  */